* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0 auto;
    background-image: url("bg.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: light;
}

@font-face {
    font-family: light;
    src: url("Light.ttf");
}

@font-face {
    font-family: nama;
    src: url("coolvetica.ttf");
}

@font-face {
    font-family: Thin;
    src: url("Thin.otf");
}

@font-face {
    font-family: heavy;
    src: url("Heavy.otf");
}

table {
    margin: 0 auto;
    color:#ffffff;
    border-collapse: collapse;
    border-spacing: 0;
}

#hi{
    margin-top: 50px;
	letter-spacing: 3px;
	font-size: 76px;
}

#nama{
    margin-top: 10px;
	font-family: nama;
	font-size: 82px;
    letter-spacing:5px;
}

#tentang{
    margin-top: 10px;
	font-size: 32px;
    letter-spacing:5px;
    margin-bottom: 40px;
}

#intro {
    height: 720px;
    position: relative;
    bottom: 125px;
    padding-left: 80px;

}

#content{
    position: relative;
    bottom: 50px;
    height: 860px;
    background-color: #f2f2f2;
    
}

.sub1{
    position: absolute;
    color: #005874;
    font-family: Thin;
    font-size: 24px;
}

.judul1{
    color: #01a6de;
    font-family: heavy;
    font-size: 56px;
}

.isi1{
    color: #000000;
    font-size: 24px;
    text-align: justify;
}

#gambar{
    position: static;
    float: right;
    width: 30%;
    margin-left: 20px;
}

#about{
    padding: 30px 50px 50px 50px;
    max-width: 1100px; 
    background-color: #ffffff;
    position: relative;
    bottom: 120px;
    border-radius: 10px;
    box-shadow: 0 5px 100px 0 rgba(26, 30, 35,0.5);
}

#parent{
    text-align: center;
    max-width:900px;
}

.photo{
    box-sizing: border-box;
    padding: 0 5px 0 5px;
    margin: 30px 15px 50px 15px;
    filter: grayscale(100%);
    width: 20%;
    border-radius: 30px;
    opacity: 0.5;
}

.photo:hover { 
    filter: grayscale(0);
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    opacity: 1;
    box-shadow: 0 5px 50px 0 rgba(26, 30, 35,0.3);
}

.sub2{
    color: #005874;
    font-family: Thin;
    font-size: 24px;
    margin-top: -70px;
}

.judul2{
    color: #01a6de;
    font-family: heavy;
    font-size: 56px;
    margin-top: -30px;
    margin-bottom: -15px;
}

.isi2{
    color: #000000;
    font-size: 24px;
    margin-top: -5px;
}

.sosmed{
    box-sizing: border-box;
    padding: 0 5px 0 5px;
    margin: -25px 15px 50px 15px;
    filter: grayscale(100%);
    opacity: 0.2;
}

.sosmed:hover { 
    filter: grayscale(0);
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    opacity: 1;
}

#barang{
    text-align: center;
    font-family: nama;
    font-size: 54px;
    position: relative;
    bottom: 120px;
    color: #222222;
}

#content2{
    text-align: center;
    height: 250px;

}

#more{
    position: relative;
    bottom: 45px;
    font-family: nama;
    font-size: 72px;
    letter-spacing: 5px;
}

.tombol {
    position: relative;
    display:inline-block;
    color: #ffffff;
    border:none;
    background-color: #23dbd0;
    border-radius: 50px;
    padding: 10px 70px 10px 70px;
    text-decoration: none;
    font-family: light;
    font-size: 32px;
    opacity: 1;
    box-shadow: 0 0 25px RGBA(0, 0, 0, 0.2);
    transition: all 0.5s ease-out;
    transform: scale(1);   
}

.tombol:active{
  transition: all 0.5s ease-out;
  transform: scale(.8);
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  opacity: 0.4;
}

#content3{
    text-align: center;
    height: 320px;
    background-color: #37324b;
}

#tablenya{
    text-align: left;
    font-size: 20px;
}

input[type=text] {
    width: 100%;
    margin: 0 0 10px 10px;
    padding: 6px 30px 6px 20px;
    border-radius: 20px;
    border:none;
    color: #d2d2d2;
    background-color: #322e45
}

select {
    width: 100%;
    padding: 6px 30px 6px 20px;
    margin: 0 0 10px 10px;
    border-radius: 20px;
    border:none;
    color: #d2d2d2;
    background-color: #322e45;
}

input[type=date] {
    text-transform: uppercase;
    width: 100%;
    padding: 6px 30px 6px 20px;
    margin: 0 0 10px 10px;
    border-radius: 20px;
    border:none;
    color: #d2d2d2;
    background-color: #322e45;
}

textarea{
    width: 100%;
    padding: 10px 10px;
    margin: 0 0 0 10px;
    border-radius: 5px;
    border:none;
    color: #d2d2d2;
    background-color: #322e45;
    margin-bottom: 5px;
}

input[type=submit]{
    padding: 6px 30px 6px 30px;
    border-radius: 5px;
    border:none;
    color: #1A1E23;
    background-color: #2196F3;
}

input[type=submit]:hover{
    background-color: #ffffff;
    color: #2196F3;
}

input[type=reset]{
    margin-bottom: 5px;
    padding: 6px 30px 6px 30px;
    border-radius: 5px;
    border:none;
    color: #1A1E23;
    background-color: #DA190B;
}

input[type=reset]:hover{
    color: #DA190B;
    background-color: #ffffff;
}

.blok {
    padding-right: 50px;
    font-size: 16px;
    color: #d2d2d2;
    margin-bottom: 30px;
}

.judul3{
    color: #d2d2d2;
    font-family: heavy;
    font-size: 56px;
    margin-bottom: -15px;
}

#pesan{
    color: #d2d2d2;
    font-family: light;
    font-size: 20px;
    margin-bottom: 20px;
}

hr {
    border-color: #b1b1b1;
    margin: 0 auto;
    position: relative;
    bottom: 10px;
    width: 70%
}

#save{
    text-align: center;
}

#footer{
    color: #d2d2d2;
    text-align: center;
    background-color: #322e45;
    height: 20px;
    font-size: 18px;
    padding: 20px;
    font-family: light;
}